<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>

    <main>
      <h4>Hello <%= user.username %></h4>
      <a href="/create-log">Create Log</a>

      <% const userLogs = logs.filter(log => log.authorid == user.userid); %> <%
      const otherLogs = logs.filter(log => log.authorid != user.userid); %>

      <h5>Your Logs</h5>
      <% if (userLogs.length == 0) { %>
      <p>You do not have any logs yet</p>
      <% } else { %>
      <ul id="user-logs-list">
        <% userLogs.forEach(log => { %>
        <li id="user-log-<%= log.id %>" class="user-log">
          <a href="/log/<%= log.id %>"><%= log.title %></a> on <%= new
          Date(log.createdDate).getMonth() + 1 %>/<%= new
          Date(log.createdDate).getDate() %>/<%= new
          Date(log.createdDate).getFullYear() %>
        </li>
        <% }) %>
      </ul>
      <% } %>

      <h5>Community Logs</h5>
      <% if (otherLogs.length == 0) { %>
      <p>No community logs yet</p>
      <% } else { %>
      <ul id="other-logs-list">
        <% otherLogs.forEach(log => { %>
        <li id="other-log-<%= log.id %>" class="other-user-log">
          <a href="/log/<%= log.id %>"><%= log.title %></a> by
          <strong><%= log.authorUsername %></strong> on <%= new
          Date(log.createdDate).getMonth() + 1 %>/<%= new
          Date(log.createdDate).getDate() %>/<%= new
          Date(log.createdDate).getFullYear() %>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
